<a href="https://colab.research.google.com/github/Stuti0105/Car-prediction-ML-project/blob/main/ML0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("welcome to ML")

welcome to ML

In [2]:
print("Hello... CSIT\n")
print("All the best")

Hello... CSIT

All the best

In [4]:
L1=["CSIT", " CGU" , "BBSR" , "ODISHA"]
L2=[100, 58.26, "CGU" , True]
print(L1)
print(L2)

['CSIT', ' CGU', 'BBSR', 'ODISHA']
[100, 58.26, 'CGU', True]

In [13]:
country= ["India" , "Bangladesh" , "Nepal" , "China" , "Pakistan"]
print(country)

['India', 'Bangladesh', 'Nepal', 'China', 'Pakistan']

In [12]:
New_countries=["South korea", "Srilanka" ]
update= country + New_countries
print(New_countries)
print(update)

['South korea', 'Srilanka']
['India', ' Bangladesh', 'Nepal', 'China', 'Pakistan', 'South korea', 'Srilanka']

In [8]:
print(update[2])

Nepal

In [14]:
update.sort()
print(update)

[' Bangladesh', 'China', 'India', 'Nepal', 'Pakistan', 'South korea', 'Srilanka']

In [10]:
S="India"
if S in country:
  print("India is present")

India is present

In [15]:
T1=("CGU" , "ML" , "SUCHITRA", "Adyasha")
print(T1)
print(type(T1))

('CGU', 'ML', 'SUCHITRA', 'Adyasha')
<class 'tuple'>

In [16]:
L5=[100,500,"STUTI"]
T2=(1000, 5000, L5)
print(L5)
print(T2)

[100, 500, 'STUTI']
(1000, 5000, [100, 500, 'STUTI'])

In [17]:
IP=(100, 560, 450, 432, 900)
print(IP)

(100, 560, 450, 432, 900)

In [21]:
L= max(IP)
print("maximum price=",L)

maximum price= 900

In [22]:
S= min(IP)
print("minimum price=" , S)

minimum price= 100

In [23]:
s= sum(IP)
print("total price is:" ,s)

total price is: 2442

In [24]:
avg=s/len(IP)
print("Average of the prices are: " , avg)

Average of the prices are:  488.4

In [29]:
print("Item Price Information")
print(IP)
print(type(IP))
item_list=list(IP)
print(item_list)
print(type(item_list))
item_list.append(5000)
print(item_list)
print(type(item_list))

Item Price Information
(100, 560, 450, 432, 900)
<class 'tuple'>
[100, 560, 450, 432, 900]
<class 'list'>
[100, 560, 450, 432, 900, 5000]
<class 'list'>

In [33]:
Student={"Name":"Harsh","Subject":"ML","Mark": 56}
print(Student)

{'Name': 'Harsh', 'Subject': 'ML', 'Mark': 56}

In [34]:
City_names={"Jamshedpur": 560, "Ranchi" : 654, "Hazaribagh": 768, "cuttack" :987, "Godda": 678}
print(City_names)

{'Jamshedpur': 560, 'Ranchi': 654, 'Hazaribagh': 768, 'cuttack': 987, 'Godda': 678}

In [37]:
City_names.update({"delhi": 1000, "Bangalore": 5600})
print(City_names)

{'Jamshedpur': 560, 'Ranchi': 654, 'Hazaribagh': 768, 'cuttack': 987, 'Godda': 678, 'delhi': 1000, 'Bangalore': 5600}

In [39]:
R= "Ranchi"
if R in City_names:
  print("Ranchi is present")

Ranchi is present

In [40]:
City_names.pop("Hazaribagh")
print(City_names)

{'Jamshedpur': 560, 'Ranchi': 654, 'cuttack': 987, 'Godda': 678, 'delhi': 1000, 'Bangalore': 5600}

AttributeError: 'dict' object has no attribute 'sort'